#container{
        width: 90%;
        height: 1200px;
        background-color: red;
}
header{
    width: 100%;
    height: 300px;
    background-color: bisque;
}
nav{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}
.content{
    height: 700px;
    width: 100%;
    background-color: green;
}
footer{
    height: 150px;
    width: 100%;
    background-color: red;
}