.bg{
    width: 90%;
    height: 1500px;
    margin: 0 auto;
    background-color: aqua;
}
header{
    width: 100%;
    height: 300px;
    background-color: rgb(13, 13, 15);
}
nav{
    width: 100%;
    height: 50px;
    background-color: green;
}
.numbers{
    height:800 px;
    background-color: rosybrown;
}
#one{
    height: 800px;
    width: 25%;
    background-color: blueviolet;
    float: left;
}
#une{
    height: 266.6px;
    background-color: red;
}
#deux{
    height: 266.6px;
    background-color: blue;
}
#trois{
    height: 266.6px;
    background-color: green;
}
#two{
    height: 800px;
    width: 25%;
    background-color: rgb(72, 158, 129);
    float: left;
}
#three{
    height: 800px;
    width: 25%;
    background-color: rgb(59, 163, 49);
    float: left;
}
#four{
    height: 800px;
    width: 25%;
    background-color: rebeccapurple;
    float: right;
}
#good{
    height: 266.6px;
    background-color: gold;
}
#bad{
    height: 266.6px;
    background-color: black;
}
#life{
    height: 266.6px;
    background-color: aquamarine;
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
}
